#homebanking {
    display: none;
}

.seccion {
    display: none;
}



body {
    background-color:rgb(83, 83, 102);
    text-align: center;
}

h1{
    color: white;
    text-align: center;
    font-size: 50px;
}

p {
    color:white;
    font-size: 25px;
}

input::placeholder{
    text-align:center;
}

 #logo{
    width:10%;
    height:auto;

}