#homebanking {
    display: none;
}

.seccion {
    display: none;
}



body {
    background-color:rgb(83, 83, 102);
    text-align: center;
}

h1{
    color: white;
    text-align: center;
    font-size: 50px;
}

p {
    color:white;
    font-size: 25px;
}

input::placeholder{
    text-align:center;
}

 #logo{
    width:10%;
    height:auto;

}

#fechaActual {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 16px;
}

#historial{
    color:white;
    font-size: 20px;
}

#btnCerrarSesion{
    position: absolute;
    top: 48px;
    right: 15px;
    font-size: 14px;
}